@using ChefsKiss.Web.Areas.Recipes.ViewModels.Recipes
@using ChefsKiss.Web.Areas.Recipes.ViewModels.Reviews

@model RecipeDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 row-md-12">
            <h2 class="card-title text-center">
                @Model.Title
            </h2>
            <img class="card-img-top" src="@Model.ImageUrl">
            <p class="card-text">
                <span> Author:
                    <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
                        <span> @Model.AuthorUsername </span>
                    </a>
                </span>
                @* <span> Tags:
                    @foreach (var tag in Model.Tags)
                    {
                    <a asp-action="ByTagId" asp-route-id="@tag.Id"> @tag.Name </a>
                    }
                    </span> *@
            </p>
            @* <div class="row">
                @await Html.PartialAsync("_VotingPanel", Model)
                </div> *@
        </div>
    </div>
    @* @if (User.IsInRole("Administrator"))
        {
        <div class="row">
        @await Html.PartialAsync("_AdminPanel", Model)
        </div>
        } *@
    <hr>
    <div class="row">
        <ul>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li>@ingredient.Name - @ingredient.Quantity @ingredient.MeasurementUnit</li>
            }
        </ul>
    </div>
    <hr>
    <div class="row">
        @Model.Content
    </div>
    <hr>
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <partial name="_ReviewFormPartial" model=@(new ReviewCreateFormModel{ RecipeId = Model.Id }) />
        }
        @foreach (var review in Model.Reviews)
        {
            <partial name="_ReviewsListPartial" model="review" />
        }
    </div>
</div>
