@using ChefsKiss.Web.Areas.Recipes.Models.Recipes
@using ChefsKiss.Web.Areas.Recipes.Models.Reviews

@model RecipeDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12 row-md-12">
            <div class="row">
                <h1 class="card-title text-center mx-auto">
                    @Model.Title
                </h1>
            </div>
            <hr>
            <div class="row">
                <img class="card-img-top col-sm-12 col-md-6" src="@Model.ImageUrl">
                <div class="col-sm-12 col-md-6">
                    <h3>Ingredients:</h3>
                    <ol>
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <li class="p-1 m-1">@ingredient.Name - @ingredient.Quantity @ingredient.MeasurementUnit</li>
                        }
                    </ol>
                </div>
            </div>
            <hr>
            <div class="row">
                <p class="card-text">
                    <span class="span"> Written by:
                        <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
                            <span> @Model.AuthorFullname (@Model.AuthorUsername) </span>
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <br>
    @* @if (User.IsInRole("Administrator"))
        {
        <div class="row">
        @await Html.PartialAsync("_AdminPanel", Model)
        </div>
        } *@
    <div class="row">
        @Model.Content
    </div>
    <br>
    <div class="row">
        @if (User.Identity.IsAuthenticated && @Model.UserHasPostedReview == false)
        {
            <partial name="_ReviewFormPartial" model=@(new ReviewFormModel{ RecipeId = Model.Id }) />
        }
        @foreach (var review in Model.Reviews)
        {
            <partial name="_ReviewsListPartial" model="review" />
        }
    </div>
</div>
