@using ChefsKiss.Web.Areas.Recipes.Models.Recipes;

@model RecipeListViewModel

<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <article class="animate-zoom-sm animate-outline card p-0">
        <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id">
            <div class="embed-responsive embed-responsive-4by3">
                <img class="card-img-top embed-responsive-item" src="@Model.ImageUrl" alt="Recipe image">
            </div>
        </a>
        <div class="card-body">
            <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id" class="text-decoration-none">
                <h4 class="card-title text-body">@Model.Title</h4>
            </a>
            <partial name="_RatingBarPartial" model="@Model.Rating" />
            <p class="card-text text-body text-danger">@Model.Summary...
                <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id" class="animate-underline">Read More</a>
            </p>
            <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId" class="animate-underline card-subtitle">By @Model.AuthorFullName</a>
        </div>
    </article>
</div>
