@using ChefsKiss.Web.Areas.Recipes.Models.Recipes;

@model RecipeListViewModel

<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <article class="card p-0">
        <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id" class="text-decoration-none">
            <img style="width: 100%; height: 200px; overflow: hidden;" class="card-img-top img-fluid" src="@Model.ImageUrl" alt="Recipe image">
        </a>
        <div class="card-body">
            <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id" class="text-decoration-none">
                <h4 class="card-title text-body">@Model.Title</h4>
            </a>
            <partial name="_RatingBarPartial" model="@Model.Rating" />
            <p class="card-text text-body text-danger">@Model.Summary...
                <a asp-area="Recipes" asp-controller="Recipes" asp-action="Details" asp-route-id="@Model.Id"> Read More</a>
            </p>
            <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId" class="card-subtitle">By: @Model.AuthorFullName</a>
        </div>
    </article>
</div>
