@model ReviewListViewModel

<div class="col-sm-12 col-md-6 col-lg-4 p-0">
    <article class="animate-outline card m-1">
        <div class="card-header">
            <partial name="_RatingBarPartial" model="@Model.Rating" />
            @if (User.IsAdmin())
            {
                <a class="btn btn-danger fa fa-trash delete-review pull-right animate-zoom-sm" asp-controller="Reviews" asp-action="Delete" asp-route-id="@Model.Id" asp-route-recipeId="@Model.RecipeId"></a>
            }
        </div>
        <div class="card-body">
            <p>@Model.Summary...
                <a asp-controller="Reviews" asp-action="Details" asp-route-id="@Model.Id" class="animate-underline">Read More </a>
            </p>
            <hr>
            <span>
                <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId" class="animate-underline">
                    @Model.AuthorUsername
                </a>
                <span class="text-secondary">posted on: @Model.CreatedOn.ToString("dd/MM/yyyy")</span>
            </span>
        </div>
    </article>
</div>
