@model RecipeDetailsViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div class="recipe-container">
    <div class="recipe-heading m-3 rounded">
        <h2 class="text-center mx-auto display-4">
            @Model.Title
        </h2>
        <div class="text-center col-12">
            <span class="span">
                <span class="d-md-inline d-block">
                    Written by:
                    <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId" class="text-decoration-none">
                        <span class="animate-underline"> @Model.AuthorFullName</span>
                    </a>
                </span>
                <span class="d-none d-md-inline">
                    |
                </span>
                <span class="d-md-inline d-block">
                    In category:
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryId" class="text-decoration-none">
                        <span class="animate-underline"> @Model.Category</span>
                    </a>
                </span>
            </span>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="d-none d-lg-inline">
                    |
                </span>
                <span class="edit-panel mx-auto d-block d-lg-inline">
                    @if (Model.UserIsAuthor || User.IsAdmin())
                    {
                        <a class="btn btn-primary fa fa-edit animate-zoom-sm col-lg-1 col-md-3" asp-action="Edit" asp-route-id="@Model.Id"></a>
                        <a class="btn btn-danger fa fa-trash animate-zoom-sm col-lg-1 col-md-3" asp-action="Delete" asp-route-id="@Model.Id"></a>
                    }
                    @if (Model.IsFavorited)
                    {
                        <a class="btn btn-success fa fa-heart animate-zoom-sm col-lg-1 col-md-3" title="Remove from favorites" asp-area="" asp-controller="Favorites" asp-action="Remove" asp-route-recipeId="@Model.Id"></a>
                    }
                    else
                    {
                        <a class="btn btn-info fa fa-heart animate-zoom-sm col-lg-1 col-md-3" title="Add to favorites" asp-area="" asp-controller="Favorites" asp-action="Add" asp-route-recipeId="@Model.Id"></a>
                    }
                </span>
            }
        </div>
    </div>
    <hr>
    <div class="recipe-ingredients">
        <img class="col-12" src="@Model.ImageSrc">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
                <h3>Ingredients</h3>
                <ol>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <li class="p-2 m-1">
                            <a asp-controller="ingredients" asp-action="details" asp-route-id="@ingredient.Id" class="animate-underline">
                                @ingredient.Name - @ingredient.Quantity @ingredient.MeasurementUnit
                            </a>
                        </li>
                    }
                </ol>
            </div>
            <div class="col-lg-6 col-md-12">
                <h3>Preparation</h3>
                <p>
                    @Model.Content
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        @if (User.Identity.IsAuthenticated && @Model.UserHasPostedReview == false && @Model.UserIsAuthor == false)
        {
            <partial name="_ReviewFormPartial" model=@(new ReviewFormModel{ RecipeId = Model.Id }) />
        }
    </div>
    <div class="row reviews-container">
        @foreach (var review in Model.Reviews)
        {
            <partial name="_ReviewsListPartial" model="review" />
        }
    </div>
</div>

@section scripts{
<partial name="_ValidationScriptsPartial" />
<partial name="_ConfirmationDialogScriptsPartial" />
<script>
    setupConfirmationDialog('.reviews-container', 'delete-review');
</script>
}
