@using ChefsKiss.Web.Areas.Recipes.ViewModels.Recipes;

@model RecipeInListViewModel

<article class="card col-xs-12 col-sm-5 col-md-3 p-0 m-2 box-shadow">
    <a asp-action="Details" asp-route-id="@Model.Id" class="text-decoration-none">
        <img class="card-img-top img-fluid" src="@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title text-body">@Model.Title</h4>
            <partial name="_RatingBar" model="@Model.Rating" />
            <p class="card-text text-body">@Model.Summary</p>
            <p class="card-text">@Model.Summary</p>
        </div>
    </a>
</article>
