@using ChefsKiss.Web.Areas.Recipes.ViewModels.Recipes;

@model RecipeInListViewModel

<article class="card col-md-12 m-2 box-shadow">
    <a asp-action="Details" asp-route-id="@Model.Id">
        <div class="card-body">
            <h2 class="card-title text-center">
                @Model.Name
            </h2>
            @* <img src="@Model.ImageUrl" alt="Post image" class="card-img-top" /> *@
            <img class="card-img-top" src="@Model.ImageUrl">
            <p class="card-text">
                @* <span> Tags:
                    @foreach (var tag in Model.Tags)
                    {
                    <a asp-action="ByTagId" asp-route-id="@tag.Id">
                    @tag.Name
                    </a>
                    }
                    </span> *@
            </p>
            @* <div class="row">
                @await Html.PartialAsync("_VotingPanel", Model)
                </div> *@
        </div>
    </a>
</article>
