@using static ChefsKiss.Common.GlobalConstants
@using ChefsKiss.Web.Areas.Recipes.ViewModels.Reviews

@model ReviewListViewModel

<div class="w-100 card card-body m-2">
    <p class="rating-bar">
        @for (int rating = RatingMinValue; rating <= RatingMaxValue; rating++)
        {
            var checkedStatus = rating <= Model.Rating ? "checked" : "unchecked";

            <span class="rating-element fa fa-star @checkedStatus"></span>
        }
    </p>
    <p>@Model.Content</p>
    <h6>
        <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
            @Model.AuthorUsername
        </a>
        <span class="text-secondary">(Posted on: @Model.CreatedOn.ToString("dd/MM/yyyy"))</span>
    </h6>
</div>
