@using ChefsKiss.Web.Areas.Recipes.Models.Reviews

@using static ChefsKiss.Common.DataConstants

@model ReviewFormModel
<form asp-controller="Reviews" asp-action="Create" method="post" class="card card-body m-1 col-md-12">
    <h5 class="rating-parent">
        @for (int rating = ReviewRatingMinValue; rating <= ReviewRatingMaxValue; rating++)
        {
            var checkedStatus = rating == ReviewRatingMaxValue ? "checked" : string.Empty;

            <input type="radio" name="rating" id="rating@(rating)" value="@rating" title="@rating" checked="@checkedStatus">
            <label for="rating@(rating)" class="rating-element fa fa-star"></label>
        }
    </h5>
    <textarea asp-for="Content" placeholder="Type your review here" rows="3" class="w-100 border-0"></textarea>
    <input type="hidden" name="RecipeId" value="@Model.RecipeId" />
    <span asp-validation-for="Content" class="text-danger"></span>
    <div class="row user-indicator">
        <button type="submit" class="btn btn-primary col-md-2 ml-2 p-2">Post review</button>
        <span class="text-secondary align- col-md-4 p-2">Posting as @User.Identity.Name</span>
    </div>
    @* <span>Posting as @UserManager.ToString()</span> *@
</form>
