@using ChefsKiss.Web.Areas.Recipes.Models.Reviews

@using static ChefsKiss.Common.DataConstants

@model ReviewFormModel
<form asp-controller="Reviews" asp-action="Create" method="post" class="w-100">
    <div class="card m-1 animate-outline">
        <div class="card-header">
            <span class="rating-parent">
                @for (int rating = Reviews.RatingMinValue; rating <= Reviews.RatingMaxValue; rating++)
                {
                    var checkedStatus = rating == Reviews.RatingMaxValue ? "checked" : string.Empty;

                    <input hidden type="radio" name="rating" id="rating@(rating)" value="@rating" title="@rating" checked="@checkedStatus">
                    <label for="rating@(rating)" class="rating-element fa fa-star"></label>
                }
            </span>
        </div>

        <div class="card-body">
            <input type="hidden" name="RecipeId" value="@Model.RecipeId" />
            <textarea asp-for="Content" placeholder="Type your review here" rows="3" class="form-control w-100 border-0"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
            <hr>
            <div class="row user-indicator">
                <button type="submit" class="btn btn-primary col-md-2 ml-2 p-2">Post review</button>
                <span class="text-secondary align- col-md-4 p-2">Posting as @User.Identity.Name</span>
            </div>
        </div>
    </div>
</form>
