@using ChefsKiss.Web.Areas.Administration.Models.Writers;

@model IEnumerable<WriterViewModel>

<h2 class="text-center m-3">Writer applications</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Full name</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var writer in Model)
        {
            <tr class="animate-background">
                <td>@writer.FullName</td>
                <td>
                    <a asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@writer.UserId">
                        @writer.Username
                    </a>
                </td>
                <td>
                    <a class="animate-zoom-md btn btn-primary fa fa-eye" asp-area="Identity" asp-controller="Users" asp-action="Details" asp-route-id="@writer.UserId"> </a>
                    <a class="animate-zoom-md btn btn-success fa fa-check" asp-action="Approve" asp-route-id="@writer.Id"></a>
                    <a class="animate-zoom-md btn btn-danger fa fa-ban" asp-action="Deny" asp-route-id="@writer.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
