@model UserDetailsViewModel

<h2 class="text-center">@Model.UserName</h2>
<hr>

@if (Model.RecipesCount == 0)
{
    <h3 class="text-center">No recipes written yet</h3>
}
else
{
    <h3 class="text-center">Written recipes (@Model.Recipes.Count())</h3>
    <div class="row">
        @foreach (var recipe in @Model.Recipes)
        {
            <partial name="_RecipeListPartialCard" model="recipe" />
        }
    </div>
}

<br>

@if (Model.ReviewsCount == 0)
{
    <h3 class="text-center">No reviews posted yet</h3>
}
else
{
    <h3 class="text-center">Posted reviews (@Model.Reviews.Count())</h3>
    <div class="row">
        @foreach (var review in @Model.Reviews)
        {
            <partial name="_ReviewsListPartial" model="review" />
        }
    </div>
}
