@model IEnumerable<CategoryCarouselViewModel>

@{
    ViewData["Title"] = "Home Page";
    var carouselIndex = 0;
}

<h1 class="display-4 text-center">Categories</h1>
<hr>
<div class="row">
    @foreach (var category in Model)
    {
        var activeCarouselItem = "active";
        var activeCarouselIndicator = "active";
        var carouselName = $"carousel-{carouselIndex}";
        carouselIndex++;

        <div class="col-md-4 col-sm-12 p-3">
            <div id="@carouselName" class="carousel slide border-dark border animate-outline animate-zoom-sm" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int current = 0; current < category.Recipes.Count(); current++)
                    {
                        <li data-target="#@carouselName" data-slide-to="@current" class="@activeCarouselIndicator"></li>
                        activeCarouselIndicator = string.Empty;
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var recipe in category.Recipes)
                    {
                        <div class="carousel-item @activeCarouselItem">
                            <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">
                                <img style="height: 600px; width:100%;" class="d-block w-100" src="@recipe.ImageSrc" alt="First slide">
                                <div class="carousel-caption">
                                    <h1 class="text-outline">@category.Name</h1>
                                    <h3 class="text-outline">@category.TotalRecipesCount recipes</h3>
                                    <p class="text-outline">@recipe.Title</p>
                                </div>
                            </a>
                        </div>

                        activeCarouselItem = string.Empty;
                    }
                </div>
                <a class="carousel-control-prev" href="#@carouselName" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#@carouselName" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
</div>
